.container {
    width: 100%;
    padding: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section {
    border: 1px solid #000;
    padding: 15px;
}

input {
    margin: 5px;
}

.hidden {
    visibility: hidden;
    /* элемент невидим, но занимается место на странице и влияет на разметку*/
}


/* === POPUP === */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup {
    width: 30%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    user-select: none;
}

.popup textarea {
    background-color: rgb();
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-left: 15px;
}

.popup .popup-content {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .hidden {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}