.container {
    width: 100%;
    padding: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section {
    border: 1px solid #000;
    padding: 15px;
}

input {
    margin: 5px;
}

.hidden {
    visibility: hidden;
    /* элемент невидим, но занимается место на странице и влияет на разметку*/
}