section {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden; /* элемент невидим, но занимается место на странице и влияет на разметку*/
}

.btn-press {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px;
}

.btn:hover {
  background-color: #3e8e41;
}
